<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36F66B091C7763590051273E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F66B211C7763590051273E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F66B2C1C7763590051273E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
